<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @profile.first.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Likes:</b>
  <%= @profile.first.likes %>
</p>

<p>
  <b>Dislikes:</b>
  <%= @profile.first.dislikes %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
