<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @profile.first.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Likes:</b>
  <p id="editme2">
  <%= @profile.first.likes %>
  </p>
  </p>

  <p>
  <b>Dislikes:</b>
<p id="editme2">
<%= @profile.first.dislikes %>
</p>
</p>

